
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<address>
    <p class="text-center"><em>This is the place where you are able to visit us</em></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46931.072507613884!2d23.330322547158506!3d42.6784744235771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa84571846e013%3A0xa5c91986273c11ed!2z0LHRg9C7LiDigJ7QndC40LrQvtC70LAg0JkuINCS0LDQv9GG0LDRgNC-0LLigJwgMTUyLCAxNDA3INCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1438006628453" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</address>
